<!DOCTYPE html>
<html>
  <head>
    <title>Emotional Machines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="http://example.com/favicon.png">
    <script src="https://use.fontawesome.com/3f1ebc53a0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
